:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --title-text-color: #212121;
  --static-color: #2196f3;
  --filter-static-color: #f5f4fa;
  --accent-color: #188ce8;
  --primary-white-color: #ffffff;
}
/*Используется когда нет нормализации стилей*/
/* html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
.page-header {
  /* display: flex; */
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
  border: 1px solid #ececec;
}
/* Вспомогательная обводка границ блока */
/* margin-bottom: 50px;
  outline: 2px solid tomato;
  background-color: tomato;
} */

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
  padding-top: 24px;
}
.footer-style .logo {
  display: inline-block;
  padding-top: 60px;
}
.logoweb {
  color: #2196f3;
}
.studio {
  color: #ffffff;
}
/* Меню навигации */
/* Базовый стиль ссылок */
/* Расширение границ */
.site-nav .nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  /* Оформление текста */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  text-decoration: none;
}
/* Применение свойств flex контейнера */
.site-nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-left: 93px;
}
.header-contacts {
  display: flex;
  /* justify-content: flex-end; */
}
.page-header * {
  display: flex;
}
/* .container nav, .container .header-contacts {
  display: flex;
} */

/* .site-nav .item{
  margin-right: 50px;
}
.site-nav .item:last-child{
margin-right: 0;
} */
/* .site-nav .item:not(:last-child){
  margin-right: 50px;
} */
/* Удаление зазора у крайнего элемента*/
.site-nav .item + .item {
  margin-left: 50px;
}
/* Стили ссылок при наведении */
.site-nav .nav-link:hover,
.site-nav .nav-link:focus {
  color: var(--static-color);
  text-decoration: none;
}
/* Подсветка ссылки текущей страницы */
.nav-link.primary {
  color: var(--static-color);
  text-decoration: none;
}
.nav-link.secondary {
  color: var(--primary-text-color);
  text-decoration: none;
}
/* Меню контактов */

.header-contacts,
.footer-contacts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-contacts {
  padding-bottom: 60px;
}

/* Стили ссылок контактов */
/* Расширение границ */
.header-contacts .nav-link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  /* Оформление текста */
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
/* Удаление зазора у крайнего элемента */
.header-contacts .item:not(:last-child) {
  margin-right: 50px;
}
/*Окончательное позиционирование ссылок контактов */
.header-contacts .item:first-child {
  margin-left: 331px;
}

.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--accent-color);
}
.footer-contacts a {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  padding-top: 9px;
}
.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}
/* Весь внутренний контент оборачиваем в специальный контейнер */
/* Указываем заданную ширину области контента, а также центрируем */
.container {
  width: 1200px;
  margin: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
  /* outline: 2px solid tomato; */
}
/* Слоган студии */
.slogan {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  margin: 0;
  margin-top: 8px;
  height: 600px;
  text-align: center;
  background: #2f303a;
}
.slogan-statement {
  /* width: 696px;
  height: 120px; */
  margin: 0px;
  padding-top: 200px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  /* text-align: center; */
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
.slogan button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: 0;
  padding: 0;
  color: var(--primary-white-color);
}

/* Кнопка заказать работу */
.btn-type {
  display: inline-block;
  width: 200px;
  height: 50px;
  background: var(--static-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 200px;
}
.btn-type:hover,
.btn-type:focus {
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}
/* Преимущества студии */
.advantages ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 86px;
}
.advantages .item + .item {
  margin-left: 30px;
}
/* Преимущества */
/* Стили текста заголовков и абзацев */
.advantages .item {
  width: 270px;
}
.advantages h3 {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.advantages p {
  margin: 0;
  margin-top: 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Чем мы занимаемся */

.advantages,
.activity,
.studio-team {
  width: 1600px;
}

.activity ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-top: 50px;
}

.activity .item + .item {
  margin-left: 30px;
}
.activity h2 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 94px;
}
/* Наша команда */
.studio-team .item + .item {
  margin-left: 30px;
}
.studio-team {
  background-color: var(--filter-static-color);
}

/* Стиль карточки участника команды студии */
.studio-team .item {
  width: 270px;
  height: 368px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
}

.team-photos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 50px;
  display: flex;
}
.team {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-top: 94px;
  padding-top: 94px;
}
.team-member {
  /* width: 160px;
  height: 19px; */
  margin: 0;
  margin-top: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team-position {
  /* width: 147px;
  height: 19px; */
  margin: 0;
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/* Стиль футера */
.footer-style {
  width: 1600px;
  height: 252px;
  background: #2f303a;
}
/* Стиль текста адреса */
.addrss-line {
  margin: 0;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
/* Страница Портфолио */
/* Меню для выбора фильтров */
.filter-bttns {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-left: 295px;
}
.filter-bttns .item + .item {
  margin-left: 8px;
}
.filter-bttns button {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.filter-bttns button:hover,
.filter-bttns button:focus {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.bttn-all {
  width: 73px;
  height: 38px;
  background: var(--filter-static-color);
  border-radius: 4px;
  border-width: 0;
}
.bttn-all:hover,
.bttn-all:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.bttn-websites {
  width: 128px;
  height: 38px;
  background: var(--filter-static-color);
  border-radius: 4px;
  border-width: 0;
}
.bttn-websites:hover,
.bttn-websites:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.bttn-application {
  width: 145px;
  height: 38px;
  background: var(--filter-static-color);
  border-radius: 4px;
  border-width: 0;
}
.bttn-application:hover,
.bttn-application:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.bttn-design {
  width: 103px;
  height: 38px;
  background: var(--filter-static-color);
  border-radius: 4px;
  border-width: 0;
}
.bttn-design:hover,
.bttn-design:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
.bttn-marketing {
  width: 130px;
  height: 38px;
  background: var(--filter-static-color);
  border-radius: 4px;
  border-width: 0;
}
.bttn-marketing:hover,
.bttn-marketing:focus {
  background: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}
/* Проекты студии */
.projects {
  list-style-type: none;
  margin: 0;
  margin-bottom: 94px;
  padding: 0;
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.projects-list {
  width: 1600px;
  margin-top: 94px;
}
.projects .item {
  width: 370px;
  height: 404px;
  background: #ffffff;
  margin-bottom: 30px;
}
.projects .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.projects .item:nth-child(3n + 2) {
  margin-left: 30px;
}
.projects .item:nth-child(3n) {
  margin-left: 30px;
}
/* Удаление нижнего зазора у изображения*/
.image-freegap {
  display: block;
}

/* Прорисовка нижней рамки внизу картинок проектов */
.cont-border {
  width: 370px;
  height: 110px;
  /* Установим стили правой рамки */
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  /* Установим стили нинжней рамки */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  /* Установим стили левой рамки */
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}
/* Название проекта */
.project-name {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 20px;
}
/* Тип проекта */
.project-type {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin: 0;
  padding: 0;
  padding-left: 24px;
  padding-top: 4px;
  padding-bottom: 20px;
}
